@import url('https://fonts.googleapis.com/css2?family=Besley&family=Oswald:wght@300&family=Spartan:wght@700&display=swap');

:root {
  /* cores escolhidas para a paleta */
  --primary-color: #4B4B4B;
  --secondary-color: #B0B0B0;
  --accent1-color: #00CED1;
  --accent2-color: #FFDB58;
  --accent3-color: #98FB98;
  --site-plan-background-logo: #FFFFFF;

  /* fontes selecionadas*/
  --heading-font: 'Spartan', serif;
  --paragraph-font: 'Oswald', sans-serif;

  /* Cores escolhidas de acordo com a paleta selecionada */
  --headline-color-on-white: #4B4B4B;  /* headlines on a white background */ 
  --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
  --paragraph-color-on-white: #4B4B4B; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #B0B0B0; /* paragraph text on a colored background */ 
  --paragraph-background-color: #FFFFFF;
  --nav-link-color: #00CED1;
  --nav-background-color: #4B4B4B;
  --nav-hover-link-color: #FFDB58;
  --nav-hover-background-color: #B0B0B0;
}

html {
    background-color: var(--primary-color);
  }
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }
  
  /*controle do tamanho da logo na pagina de plano de site*/
  img {
    max-width: 30%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  header {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--paragraph-background-color);
  }

  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }

  .colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999999;
  }
  .colors td{
    width: 20%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  .accent3{
    background-color: var(--accent3-color);
  }
    
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav > ul {
    list-style-type: none;
    display: flex;
    gap: 7px; /* Espaçamento entre os itens da barra de navegação */
    justify-content: center; /* Centraliza os itens */
    padding: 0;
    margin: 0;
  
  }
  nav a {
    padding: 0 1em; /* Espaçamento lateral */
    min-width: 70px;
    height: 35px; /* Altura fixa das barras */
    line-height: 35px; /* Centraliza verticalmente o texto */
    font-family: "Oswald";
    text-decoration: none; /* Remove sublinhado */
    color: var(--nav-link-color);
    background-color: var(--nav-background-color); /* Cor de fundo padrão */
    border-radius: 5px; /* Bordas arredondadas */
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza o efeito hover */

    /* Sombra aplicada aqui */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }  

  .sitemap {
    position: relative;
    display: grid;
    justify-content: center;
    gap: 5px;
  
    grid-template-columns: repeat(8, 8%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . . . ."
      ". . . top . . . ."
      ". left left right right . . ."
      "page2 page2 page3 page3 page4 page4 page5 page5";
  }
  .sitemap > div {
  
    text-align: center;
  
  }
  .sm-home {
    grid-area: home;
    background-color: #999999;
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: #999999;
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: #999999;
    line-height: 3em;
  }

  .sm-page4 {
    grid-area: page4;
    background-color: #999999;
    line-height: 3em;
  }
  .sm-page5 {
    grid-area: page5;
    background-color: #999999;
    line-height: 3em;
  }

  .vertical-line {
    position: absolute;
    width: 1px;
    height: 27px;
    background-color: black;
    top: calc(120% - 110px);
    left: 74.2%;
}
  
  .top {
    grid-area: top;
    border-left: 1px solid;
    height: 50px
  }
  
  .left {
    grid-area: left;
    border-top: 1px solid;
    width: 300%;
    border-left: 1px solid;
  }
  
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }

  .wireframes {
    max-width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); /* Sombra com deslocamento e opacidade */
    border-radius: 5px; /* Opcional, para bordas arredondadas */
  }

  video {
    max-width: 100%;
  }

  .linear {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 300%;
  }

  .empreendimentos {
    display: grid;
    justify-content: center; /* Centraliza o grid horizontalmente */
    gap: 50px; /* Espaçamento entre as células */
    width: 300%;

}

/*/* CSV */
/*a6aeb1,343839,d0d4d8,4e534f,3a689c,5a6d6e,5e849e,4771a8,bac9dc,bbd4d8*/

/* Array */
/*["a6aeb1","343839","d0d4d8","4e534f","3a689c","5a6d6e","5e849e","4771a8","bac9dc","bbd4d8"]*/
