@media screen and (min-width: 1024px) {
    :root {
        /* Cores escolhidas para a paleta */
        --primary-color: #4B4B4B;
        --secondary-color: #B0B0B0;
        --accent1-color: #00CED1;
        --accent2-color: #FFA500;
        --accent3-color: #98FB98;
        --site-plan-background-logo: #FFFFFF;

        /* Cores escolhidas de acordo com a paleta */
        --headline-color-on-white: #4B4B4B;
        --headline-color-on-color: #FFFFFF;
        --paragraph-color-on-white: #4B4B4B;
        --paragraph-color-on-color: #B0B0B0;
        --paragraph-background-color: #FFFFFF;
        --nav-link-color: #00CED1;
        --nav-background-color: #4B4B4B;
        --nav-hover-link-color: #FFA500;
        --nav-hover-background-color: #B0B0B0;

        /* Fontes selecionadas */
        --heading-font: 'Spartan', Arial, Helvetica, sans-serif;
        --paragraph-font: 'Oswald', Arial, Helvetica, sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--paragraph-font);
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        font-family: var(--heading-font);
    }

    /*--------------------------------------------------start header----------------------------------------------------*/
    header {
        background-color: #4a4848;
        display: flex; /* Alinha os elementos filhos dentro do header */
        justify-content: space-between; /* Espaço igual entre os itens */
        align-items: center; /* Alinha os itens no centro verticalmente */
        width: 100%;
        height: auto;
        border-bottom: 9px solid #5D7CA6;
        padding: 10px;
    }

    header nav.menu-pages {
        display: flex; /* Alinha os elementos filhos dentro do header */
        justify-content: space-between; /* Espaço igual entre os itens */
    }

    header nav.menu-pages .logo img {
        margin-left: 12rem;
        margin-right: 12rem; /* Adiciona distância entre a logo e o menu */
        width: 120px;
        height: auto;
    }

    header nav.menu-pages .menu {
        display: flex; /* Exibe os itens na horizontal */
        justify-content: space-between; /* Espaço igual entre os itens */
        list-style: none; /* Remove os bollets das listas */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        margin: 0;
        padding: 0;
        gap: 15px; /* Espaço de 15px entre os itens */
    }

    header nav.menu-pages .menu li a {
        background-color: var(--primary-color);
        color: #FFFFFF;
        width: 170px; /* Largura de 170px para cada item */
        height: 30px; /* Altura de 30px para cada item */
        padding: 5px 10px; /* Adiciona padding para espaçamento interno dos itens */
        border: 0.05px solid white; /* Contorno de borda com espessura de 0.05px */
        border-radius: 6px; /* Bordas arredondadas com raio de 6px */
        display: flex; /* Garante que os itens fiquem em linha */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        box-shadow: #4B4B4B;
        text-decoration: none; /* Remove os sublinhados */
    }

    header nav.menu-pages .menu li a:hover {
        background-color: var(--primary-color);
        color: var(--accent1-color);
        border: 3px solid white;
    }

    header nav.menu-pages .menu li a.corretores {
        background-color: red;
    }

    header nav.menu-pages .menu li a.corretores:hover {
        background-color: var(--accent1-color);
        border: 3px solid white;
        color: black;
    }

    /* Estilização do Submenu */
    header nav.menu-pages .menu li .submenu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 255, 0.3); /* Azul com 30% de transparência */
        list-style: none;
        padding: 0;
        margin: 5px 0 0 0;
        border-radius: 6px;
    }

    header nav.menu-pages .menu li:hover .submenu {
        display: block; /* Mostra o submenu ao passar o mouse */
    }

    header nav.menu-pages .menu li .submenu li a {
        width: 120px; /* Largura fixa */
        height: 30px; /* Altura fixa */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 6px;
    }

    header nav.menu-pages .menu li .submenu li a:hover {
        background-color: var(--accent2-color); /* Muda a cor ao passar o mouse */
        color: black;
    }

    .hamburger {
        display: none;
    }

    /*---------------------------------------------------Início do Main---------------------------------------------------*/
    main {
    display: flex; /* Torna o main um contêiner flex */
    justify-content: space-between;
    align-items: center; /* Centraliza a div verticalmente */
    height: 90vh; /* Garante que o main ocupe toda a altura da tela */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center -45vh;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    }
    

    main .img_principal_home img {
        flex: 2;
        width: 50vw;
        height: auto;
        object-fit: cover;
        clip-path: inset(9.6vh 0 0 0);
        position: relative;
        top: -4.6vh;
    }

    main div.shadowbox {
        flex: 1;
        padding: 16px;
        text-align: left;
        display: flex;
        position: relative;
        width: 50%;
        justify-content: flex-end; /* Alinha itens ao início do eixo principal */
        /* display: flex; Torna o main um contêiner flex */
        /* justify-content: center; /* Centraliza a div.shadowbox horizontalmente */
        /* align-items: center; Centraliza a div.shadowbox verticalmente */
        /* height: 100vh; Garante que o main ocupe toda a altura da tela */
        background-image: url('../images/background.jpg');
        background-size: cover;
        background-position: center -30vh;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
    }

    main div.shadowbox h1 {
        color: var(--headline-color-on-white);
        font-size: 2rem;
        /* text-align: left; */
        margin-left: 2rem;
    }

    main div.shadowbox p.presentation {
        color: var(--headline-color-on-white);
        text-align: justify;
        padding: 0.5rem 2rem 1rem 2rem;
        line-height: 40pt;
    }

    /*--------------------------------------------------Fim do Main-------------------------------------------------------*/


/*--------------------------------------------------inicio do ----Footer---------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
    width: 100%;
    height: 12vh;
    background-color: var(--primary-color);
    border-top: 9px solid #5D7CA6;
    position:relative;
    padding: 0 10%;
    /* top: -23.5vh;
   
    
    margin-bottom: 20px;  */


}

footer div.logo_footer {
    display: flex; /*Torna o logo um contêiner*/
    align-items: center; /* Centraliza a imagem verticalmente */
    /* justify-content: center; Opcional: centraliza horizontalmente se necessário */
    justify-content: flex-start; /*Alinha
}

footer div.logo_footer a img {
    width: 135px;
    height: auto;
    margin-left: 12vw;
    /* margin-right: 5vw; */
}

footer div.logo_footer a img {
    width: 100px;
    height: auto;
    margin-left: 0; /* Mantém próximo à margem esquerda do `footer` */
}

footer div.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Espaçamento entre `logo_footer` e `maps` */
}

footer div.maps a img {
    height: 40PX;
    width: auto;
}

footer p.footertext {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    display: block;
    color: #FFFFFF;
    font-family: var(--paragraph-font);
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    margin-left: 10px; /* Espaçamento entre `maps` e `footertext` */

    /* Adicionado para dividir em duas colunas */
    column-count: 2; /* Define o número de colunas */
    column-gap: 20px; /* Define o espaçamento entre as colunas */
    
}

.footertext .highlight {
    color: #5D7CA6;
    text-decoration: none; /* Opcional: Remove o sublinhado */
}
.footertext .highlight:hover {
    text-decoration: underline; /* Opcional: Adiciona sublinhado ao passar o mouse */
}

footer .social-icons {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones */
    margin-right: 0; /* Alinha os ícones à direita */
}

footer .social-icons a img {
    width: 30px; /* Largura dos ícones */
    height: auto; /* Altura dos ícones */
    object-fit: contain; /* Garante que as proporções sejam mantidas */
    margin-right: 15%; /* Distância do lado direito */
    z-index: 1000;
}

footer .social-icons a {
    margin-right: 10%; /*Distância da borda direita*/
}

.maps {
    display: flex;
    width: 30%;
    height: auto;
    margin-left: 5vw;
  }

  .social-icons {
    display: flex;
    gap: 1rem; /* Espaçamento entre os ícones */
    /* width: 30%; */
    /* height: auto; */
     
 } 










/*--------------------------------------------------fim do ----Footer---------------------------------------------------*/







}
