@media screen and (min-width: 601px) and (max-width: 1023px) {
  body {
    font-size: 0.9rem;
  }

  header {
    padding: 0.675rem 1.6rem;
    gap: 1.6rem;
  }

  header nav.menu-pages div.logo img {
    margin-left: 10.8rem;
    margin-right: 10.8rem;
    width: 96px;
  }

  header nav.menu-pages ul.menu li a {
    width: 136px;
    height: 24px;
    padding: 4px 8px;
    border-radius: 4.8px;
  }

  main {
    padding: 1.6rem;
    gap: 1.6rem;
  }

  .headline {
    top: -1.6rem;
    left: 1.6rem;
    font-size: 2.2rem;
    padding: 1.6rem 0;
  }

  #missao, #visao, #visão:hover, #qualidade {
    left: 2.24rem;
    width: clamp(10rem, 10rem, 24rem);
    padding: 0.56rem;
    font-size: clamp(0.81rem, 1vw, 1.8rem);
  }

  #texto-missao, #texto-visao, #texto-qualidade {
    padding: 1.2rem;
    font-size: clamp(1.17rem, 0.9vw, 2rem);
    width: clamp(8rem, 20%, 24rem);
    height: clamp(17rem, 18%, 20rem);
  }

  footer.large-footer div.logo_footer a img {
    width: 96px;
    margin-left: 1.6rem;
  }

  footer.large-footer div.maps img {
    left: 2.4rem;
    width: 24%;
  }

  footer.large-footer div.footertext {
    font-size: 0.45rem;
    column-gap: 0.4rem;
  }

  footer.large-footer div.social-icons a img {
    width: 40px;
    margin-right: 1.6rem;
  }

  footer.large-footer p.pfooter {
    font-size: 1rem;
    margin-right: 0.8rem;
  }
}
