@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        /* Cores escolhidas para a paleta */
        --primary-color: #4B4B4B;
        --secondary-color: #B0B0B0;
        --accent1-color: #00CED1;
        --accent2-color: #FFA500;
        --accent3-color: #98FB98;
        --site-plan-background-logo: #FFFFFF;

        /* Cores escolhidas de acordo com a paleta */
        --headline-color-on-white: #4B4B4B;
        --headline-color-on-color: #FFFFFF;
        --paragraph-color-on-white: #4B4B4B;
        --paragraph-color-on-color: #B0B0B0;
        --paragraph-background-color: #FFFFFF;
        --nav-link-color: #00CED1;
        --nav-background-color: #4B4B4B;
        --nav-hover-link-color: #FFA500;
        --nav-hover-background-color: #B0B0B0;

        /* Fontes selecionadas */
        --heading-font: 'Spartan', Arial, Helvetica, sans-serif;
        --paragraph-font: 'Oswald', Arial, Helvetica, sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--paragraph-font);
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        font-family: var(--heading-font);
    }

    /*--------------------------------------------------start header----------------------------------------------------*/
    header {
        background-color: #4a4848;
        display: flex; /*ele vai alinhar os elementos filhos dentro do header.*/
        justify-content: space-between; /*Espaço igual entre os itens */ 
        align-items: center; /*Alinha os itens no centro verticalmente */
        width: 100%;
        height: auto;
        border-bottom: 9px solid #5D7CA6;
        padding: 10px;
    }

    header nav.menu-pages {
        display: flex; /*ele vai alinhar os elementos filhos dentro do header.*/
        justify-content: space-between; /* Espaço igual entre os itens */
        font-size: 9pt ;

    }

    header nav.menu-pages .logo img {
        margin-left: 6rem;
        margin-right: 6rem; /* Adiciona distância entre a logo e o menu */
        width: 100px;
        height: auto;

    }

    header nav.menu-pages .menu {
        display: flex;              /*Exibe os itens na horizontal */
        justify-content: space-between; /* Espaço igual entre os itens */
        list-style: none;         /* Remove os bollets das listas */
        align-items: center;        /* Centraliza o conteúdo verticalmente */
        margin: 0;                /* Remove o espaço extra da lista */
        padding: 0;               /* Remove o padding da lista */
        gap: 11px;                  /* Espaço de 11px entre os itens */
        
    }

    header nav.menu-pages .menu li a{
        background-color: var(--primary-color);
        color: #FFFFFF;
        width: 105px;               /* Largura de 105px para cada item */
        height: 25px;               /* Altura de 30px para cada item */
        padding: 5px 10px;          /* Adiciona padding para espaçamento interno dos itens */
        border: 0.05px solid white; /* Contorno de borda com espessura de 0.05px */
        border-radius: 6px;         /* Bordas arredondadas com raio de 6px */
        display: flex;              /* Garante que os itens fiquem em linha */
        justify-content: center;    /* Centraliza o conteúdo horizontalmente */
        align-items: center;        /* Centraliza o conteúdo verticalmente */
        box-shadow: #4B4B4B;
        text-decoration: none;      /*Remove os sublinhados*/
    }

    header nav.menu-pages .menu li a:hover {
        background-color: var(--primary-color);
        color: var(--accent1-color);
        border: 1.5px solid white;
    }


    header nav.menu-pages .menu li a.corretores {
        background-color: red;

    }

    header nav.menu-pages .menu li a.corretores:hover {
        background-color: var(--accent1-color);
        border: 1.5px solid white;
        color: black;
    }

            /*-------------------------------- Estilização do Submenu ------------------------------------------- */
    header nav.menu-pages .menu li .submenu {
        display: none;               /* Oculta o submenu por padrão */
        position: absolute;          /* Faz com que o submenu flutue */
        background-color: rgba(0, 0, 255, 0.3); /* Azul com 30% de transparência */
        list-style: none;            /* Remove bolinhas da lista */
        padding: 0;
        margin: 4px 0 0 0;
        border-radius: 6px;          /* Bordas arredondadas */
    }

    header nav.menu-pages .menu li:hover .submenu {
        display: block;              /* Mostra o submenu ao passar o mouse */
    }
                /*<<<<<<<<<<<Responsavel pela cor das tags de navegação principais>>>>>>>>>>>>*/
    header nav.menu-pages .menu li .submenu li a {
        width: 90px;                /* Largura fixa */
        height: 20px;                /* Altura fixa */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 6px;
    }


    /*<<<<<<<<<<<Responsavel pela cor das tags de navegação pricipais>>>>>>>>>>>>*/

    header nav.menu-pages .menu li .submenu li a:hover {
        background-color: var(--accent2-color); /* Muda a cor para alaranjado ao passar o mouse */
        color: black;
    }

    /*-------------------------------- Fim da Estilização do Submenu ------------------------------------------- */
    
    .hamburger {
        display: none;
    }

    /*---------------------------------------------------Inicio do Main ---------------------------------------------------*/
    main {
        display: flex; /* Deve vir antes das propriedades relacionadas ao flexbox */
        flex-direction: row; /* Define a direção dos itens no flex container */
        justify-content: flex-start; /* Alinha itens ao início do eixo principal */
        align-items: center; /* Centraliza os itens no eixo transversal */
        
        width: 100%; /* Define o tamanho */
        position: relative; /* Define o contexto para posicionamento */
        
        background-image: url('../images/background.jpg'); /* Configurações de fundo */
        background-size: cover; /* Faz o fundo cobrir todo o espaço */
        background-position: center -65vh; /* Reposiciona o fundo subindo 150px */
        background-repeat: no-repeat ;
        z-index: -1;
    }
    
    
      main .img_principal_home img {
        width: 50vw;
        height: auto;
        object-fit: cover; /* Faz a imagem preencher o espaço sem distorção */
        clip-path: inset(15vh 0 0 0); /* faz um corte na imagem de 150px no topo*/
        position: relative;
        top: -15vh; /*sobe a imagem para compensar o corte feito*/
    }
    
      main div.shadowbox {
        position: relative;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.4);  
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); 
        padding: 4px 4px;
        margin: 1rem;
        font-size: 1rem;
        justify-content: center;
      }

      /* main div.shadowbox {
        position: relative;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 10px 8px 15px 15px rgba(0, 0, 0, 0.2);
      } */
    
      main div.shadowbox h1 {
        
        color:var(--headline-color-on-white);
        font-size: 2rem;
        text-align: left;
        margin-left: 2rem;
        top: 25px;
      }
    
      main div.shadowbox p.presentation {
        color: var(--headline-color-on-white);
        text-align: justify;
        padding: 0.5rem 2rem 1rem 2rem;
        line-height: 30pt;
      }

      



    /*--------------------------------------------------Fim do Main-------------------------------------------------------*/
    

    /*--------------------------------------------------inicio do ----Footer---------------------------------------------------*/
footer {
    display: flex;
    top: -15.4vh;
    width: 100%;
    background-color: var(--primary-color);
    height: 20vh;
    margin-bottom: 20px; 
    padding: 20px;
    border-top: 9px solid #5D7CA6;
    position: relative;  /* Adicionando 'relative' no contêiner */

}

/*--------------------------------------------------inicio do ----Footer---------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    background-color: var(--primary-color);
    border-top: 9px solid #5D7CA6;
    position:relative;
    padding: 0 10%;
}

footer div.logo_footer {
    display: flex; /*Torna o logo um contêiner*/
    align-items: center; /* Centraliza a imagem verticalmente */
    /* justify-content: center; Opcional: centraliza horizontalmente se necessário */
    justify-content: flex-start; /*Alinha*/
}

footer div.logo_footer a img {
    width: 100px;
    height: auto;
    margin-left: 0; /* Mantém próximo à margem esquerda do `footer` */
}


footer div.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px; /* Espaçamento entre `logo_footer` e `maps` */
}

footer div.maps a img {
    height: 40PX;
    width: auto;
}

footer p.footertext {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    display: block;
    color: #FFFFFF;
    font-family: var(--paragraph-font);
    font-size: 0.6em;
    text-align: justify;
    line-height: 1.5;
    margin-left: -2vw; /* Espaçamento entre `maps` e `footertext` */
    column-count: 2; /* Define o número de colunas */
    column-gap: 20px; /* Define o espaçamento entre as colunas */
    
}

.footertext .highlight {
    color: var(--accent3-color);
    text-decoration: none; /* Opcional: Remove o sublinhado */
}
.footertext .highlight:hover {
    text-decoration: underline; /* Opcional: Adiciona sublinhado ao passar o mouse */
}

footer .social-icons {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones */
    margin-right: 0; /* Alinha os ícones à direita */
}

footer .social-icons a img {
    width: 30px; /* Largura dos ícones */
    height: auto; /* Altura dos ícones */
    object-fit: contain; /* Garante que as proporções sejam mantidas */
    margin-right: 15%; /* Distância do lado direito */
    z-index: 1000;
}

footer .social-icons a {
    margin-right: 10%; /*Distância da borda direita*/
}

.maps {
    display: flex;
    width: 30%;
    height: auto;
    margin-left: 4vw;
  }

  .social-icons {
    display: flex;
    gap: 1rem; /* Espaçamento entre os ícones */
    /* width: 30%; */
    /* height: auto; */
     
 } 

 /* CSS para o footer de telas maiores */
.footer-small {
    display: none; /* Esconde o footer para telas maiores que 767px */
}



 /*--------------------------------------------------final do ----Footer---------------------------------------------------*/





}