@media screen and (min-width: 320px) and (max-width: 767px) {

:root {
    /* Cores escolhidas para a paleta */
    --primary-color: #4B4B4B;
    --secondary-color: #B0B0B0;
    --accent1-color: #00CED1;
    --accent2-color: #FFA500;
    --accent3-color: #98FB98;
    --site-plan-background-logo: #FFFFFF;

    /* Cores escolhidas de acordo com a paleta */
    --headline-color-on-white: #4B4B4B;
    --headline-color-on-color: #FFFFFF;
    --paragraph-color-on-white: #4B4B4B;
    --paragraph-color-on-color: #B0B0B0;
    --paragraph-background-color: #FFFFFF;
    --nav-link-color: #00CED1;
    --nav-background-color: #4B4B4B;
    --nav-hover-link-color: #FFA500;
    --nav-hover-background-color: #B0B0B0;

    /* Fontes selecionadas */
    --heading-font: 'Spartan', Arial, Helvetica, sans-serif;
    --paragraph-font: 'Oswald', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body {
    font-size: 1rem;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

/*-------------------------------------------------- Início do Header ----------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


header {
    background-color: #4a4848;
    display: flex; /* Alinha os elementos filhos dentro do header */
    justify-content: space-between; /* Espaço igual entre os itens */
    align-items: center; /* Alinha os itens no centro verticalmente */
    width: 100%;
    height: 10vh;
    border-bottom: 6px solid #5D7CA6;
    padding: 10px;
}

header nav.menu-pages {
    display: flex; /* Alinha os itens do menu */
    justify-content: space-between; /* Espaço igual entre os itens */
}

header nav.menu-pages .logo img {
    margin-left: 2rem;
    width: 120px;
    height: auto;
}


header nav.menu-pages .menu {
    display: none;
}


.hamburger {
    position: fixed; /* Fixa o ícone na tela */
    /* display: flex; */
    /* top: 1rem; Ajuste a distância do topo, se necessário */
    right: 1.5rem; /* Distância de 30px da borda direita */
    padding: 0.5rem;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    margin-right: 2rem;
    z-index: 1000; /* Garante que o ícone esteja sobre outros elementos */
}

/* caracteristicas do icone de hamburger*/
.hamburger span {
    margin-top: 6px;  /* Ajuste do espaçamento entre as linhas */
    margin-left: 0;   /* Centraliza o ícone, remova o deslocamento à esquerda */
    display: block;
    width: 2.25rem;      /* Largura ligeiramente reduzida para manter a proporção */
    height: 0.25rem;      /* Aumenta a altura das linhas para tornar o ícone mais "ergonômico" */
    background: white;
    border-radius: 0.125rem; /* Adiciona bordas arredondadas para um toque mais suave */
    transition: all 0.3s ease; /* Transição suave quando o menu é ativado */
    box-shadow: 3px 2px 4px 4px rgba(0, 0, 0, 0.2);
}


/* Esconde o menu principal por padrão */
header nav.menu-pages .menu {
    display: none;
    flex-direction: column;
    background-color: var(--nav-background-color);
    position: absolute;
    top: 15vh; /* Alinha o menu logo abaixo do header */
    right: 0;
    width: 50%;
    padding: 10px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

/* Aplica a transformação quando o menu for mostrado */
header nav.menu-pages .menu.show {
    display: flex;
    transform: translateX(0);
}

.hamburger:focus, .hamburger span:focus {
    outline: 2px solid var(--accent1-color); /* Destaque quando o ícone de hambúrguer for focado */
}

header nav.menu-pages .menu li a:focus {
    outline: 2px solid var(--accent1-color); /* Destaque para links no menu */
}


header nav.menu-pages .menu li {
    list-style: none;
    padding: 10px;
    text-align: center;
}

header nav.menu-pages .menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
    gap: 5px;
    width: 150px;               /* Largura de 170px para cada item */
    height: 30px;               /* Altura de 30px para cada item */
    padding: 5px 10px;          /* Adiciona padding para espaçamento interno dos itens */
    border: 0.05px solid white; /* Contorno de borda com espessura de 0.05px */
    border-radius: 6px;         /* Bordas arredondadas com raio de 6px */
    display: flex;              /* Garante que os itens fiquem em linha */
    justify-content: center;    /* Centraliza o conteúdo horizontalmente */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    box-shadow: #4B4B4B;
}

header nav.menu-pages .menu li a:hover {
    background-color: var(--primary-color);
    
    transition: background-color 0.3s ease, transform 0.2s ease;/*animação*/
    transform: scale(1.05);/*animação*/

    color: var(--nav-link-color);
    width: 170px;               /* Largura de 170px para cada item */
    height: 30px;               /* Altura de 30px para cada item */
    padding: 5px 10px;          /* Adiciona padding para espaçamento interno dos itens */
    border: 2px solid white; /* Contorno de borda com espessura de 0.05px */
    border-radius: 6px;         /* Bordas arredondadas com raio de 6px */
    display: flex;              /* Garante que os itens fiquem em linha */
    justify-content: center;    /* Centraliza o conteúdo horizontalmente */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    box-shadow: #4B4B4B;
    text-decoration: none;      /*Remove os sublinhados*/
}

header nav.menu-pages .menu li a.corretores {
    background-color: red;

}

header nav.menu-pages .menu li a.corretores:hover {
    background-color: var(--accent1-color);
    border: 3px solid white;
    color: black;
}

    /*-------------------------------- Estilização do Submenu ------------------------------------------- */
header nav.menu-pages .menu li .submenu {
    /*animação de deslizamento*/
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    /*animaçao de deslizamento*/

    display: none;               /* Oculta o submenu por padrão */
    position: absolute;          /* Faz com que o submenu flutue */
    background-color: rgba(0, 206, 209, 0.9); /* tifani com 70% de transparência */
    list-style: none;            /* Remove bolinhas da lista */
    padding: 0;
    margin: 5px 0 0 0;
    border-radius: 6px;          /* Bordas arredondadas */
}

header nav.menu-pages .menu li:hover .submenu {
    display: block;              /* Mostra o submenu ao passar o mouse */
    /*animação*/
    opacity: 1;
    transform: translateY(0);
}

header nav.menu-pages .menu li .submenu li a {
    width: 120px;                /* Largura fixa */
    height: 30px;                /* Altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--accent3-color);
    border-radius: 6px;
}

header nav.menu-pages .menu li .submenu li a:hover {
    background-color: var(--accent2-color); /* Muda a cor ao passar o mouse */
    color: black;
}

/*-------------------------------- Fim da Estilização do Submenu ------------------------------------------- */


/* Mostra o menu ao clicar no hambúrguer */
.menu.show {
    display: flex;
}
/*---------------------------------------------------Inicio do Main ---------------------------------------------------*/
main {
    background-image: url('../images/sm_background.jpg');
    background-size: cover; /* A imagem de fundo cobre todo o espaço disponível */
    background-position: top center; /* Garante alinhamento do topo da imagem */
    flex-direction: column; /* As imagens ficam empilhadas verticalmente */
    justify-content: flex-start; /* Garante que o conteúdo comece no topo */
    align-items: center; /* Centraliza os itens horizontalmente */
    display: flex;
    position: absolute;
    height: 140%;
    z-index: -1;
  }

  main .img_principal_home img {
    width: 100%;
    height: auto;
  }

  main div.shadowbox {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 8px 15px 15px rgba(0, 0, 0, 0.2);
  }

  main div.shadowbox h1 {
    
    color:var(--headline-color-on-white);
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
  }

  main div.shadowbox p.presentation {
    color: var(--headline-color-on-white);
    text-align: justify;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 20pt;
  }
/*---------------------------------------------------Fim do Main ---------------------------------------------------*/

/*---------------------------------------------------incio do footer ---------------------------------------------------*/
footer {
    background-color: var(--primary-color); /* Cor de fundo */
    color: var(--headline-color-on-color); /* Cor do texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    position: fixed; /* Fixa o footer na janela */
    bottom: 0; /* Posiciona o footer no final da janela */
    left: 0; /* Garante alinhamento na lateral esquerda */
    width: 100%; /* Faz com que o footer ocupe toda a largura */
    height: 33%;
    z-index: 999; /* Garante que esteja acima de outros elementos */
    border-top: 6px solid #5D7CA6;
    bottom:0;
    
}

.container {
    color:#FFFFFF;
}

footer .logo_footer img {
    width: 80px; /* Ajuste o tamanho do logo */
    margin-bottom: 15px;
   
}

footer .maps img {
    width: 40px; /* Ajuste o tamanho do ícone */
    margin-bottom: 10px;
}

.footer-small p {
    color: white;
}


footer.footer-small .footertext {
    font-size: 0.8rem; /* Reduzir o tamanho do texto */
    margin-bottom: 25px;
    
}

footer .footertext .highlight {
    color: #5D7CA6;
    text-decoration: none; /* Opcional: Remove o sublinhado */
}

footer .social-icons img {
    width: 30px;
    margin: 0 10px; /* Espaçamento entre os ícones */
}

footer .social-icons img:hover {
    transform: scale(1.2); /* Aumenta ligeiramente o tamanho */
    transition: transform 0.3s ease-in-out;
    filter: brightness(1.2); /* Aumenta o brilho */
}

@media screen and (max-width: 414px) {
    footer {
        padding: 15px;
    }

    footer .footertext {
        font-size: 0.7rem;
        line-height: 1.5; /* Melhor espaçamento entre linhas */
    }

    footer .social-icons img {
        width: 25px; /* Ajuste menor para telas menores */
    }
}

/* CSS para o footer de telas maiores */
.footer-small {
    display: none; /* Esconde o footer para telas menores */
}

/* CSS para o footer de telas menores */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-large {
        display: none; /* Esconde o footer para telas menores */
    }

    .footer-small {
        display: block; /* Exibe o footer para telas menores */
    }
}



}
